* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header,
footer {
    width: 100%;
    height: 100px;
    background-color: #dc2626;
}

.main-container {
    width: 100%;
    flex: 1;
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-list,
.project-container,
.project-list {
    width: 70%;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

.task {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0px 5px;
}

.task:hover {
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.inbox-icon,
.today-icon,
.week-icon,
.complete-icon {
    width: 30px;
    height: 30px;
}

.inbox-icon {
    background-image: url(https://lovrozagar.github.io/To-Do-List/inbox.svg);
}

.today-icon {
    background-image: url(https://lovrozagar.github.io/To-Do-List/today.svg);
}

.week-icon {
    background-image: url(https://lovrozagar.github.io/To-Do-List/thisWeek.svg);
}

.complete-icon {
    background-image: url(https://lovrozagar.github.io/To-Do-List/completed.svg);
}

.task > p {
    margin-left: 10px;
}

.project-container {
    margin-top: 10px;
    width: 70%;
}

#proj-input {
    font-size: 20px;
    height: 30px;
    width: 100%;
    border: 3px solid #a1a1aa;
    border-radius: 5px;
    padding-left: 6px;
}

.project-btn-container {
    width: 100%;
    margin: 5px 0px 0px 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.clear-btn,
.add-proj-btn,
.add-task-btn {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: #dc2626;
}

.clear-btn:hover,
.add-proj-btn:hover,
.add-task-btn:hover {
    cursor: pointer;
    background-color: #991b1b;
}

.project-list {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 5px;
}

.project {
    background-color: #e4e4e7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-weight: 300;
    border-radius: 5px;
    margin-bottom: 2px;
}

.project:hover {
    background-color: #d4d4d4;
    cursor: pointer;
}

.content {
    flex: 1;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.todo-header {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.todo-title {
    font-size: 40px;
}

.add-task-btn {
    width: 120px;
}

.todo-list {
    list-style: none;
    padding: 20px;
    font-size: 20px;
}

.todo-items {
    margin-bottom: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}